https://copilot.microsoft.com/images/create/two-lovebirds-flying-towards-each-other-in-a-reali/1-65cccd6ee0af4ffea0dcbfe75baa4966?id=w2tDrBOxrfuHlYpNmMyY7A%3D%3D&view=detailv2&idpp=genimg&idpclose=1&thId=OIG1.LbKNzgySOrCghODWznfH&ineditshare=1# Auto detect text files and perform LF normalization
* text=auto
